@import "~bootstrap-icons/font/bootstrap-icons.css";
// @import "../node_modules/bootstrap/scss/bootstrap.scss";


/*********************************************/
/*             SCSS Variables                */
/*********************************************/
$color-primary : rgb(89, 61, 128);
$color-light : rgb(239, 233, 247);
//    These 3 should total 100vh, later add programmitic control
$nav-height : 15vh;
$footer-height: 12vh;
$section-height: 75vh;


/*********************************************/
/*          CUSTOMIZED DEFAULTS         */
/*********************************************/

$body-bg: rgb(228, 224, 234);
$body-color: #4b4b4b;
$font-family-sans-serif: "Poppins",
sans-serif;
// $primary: #fafafa;
// $bg-primary: red;
$theme-colors: (
  "primary": $color-primary,
  "light": $color-light,
//   "danger": $danger
);



/*********************************************/
/*          CUSTOMIZED BootStrap DEFAULTS         */
/*********************************************/

.card {
    width: 28em;
    border-radius: 15px;
}

.btn {
    margin: 1em 2em 1em 0;
}

.navbar {
    // width: 100%;
    min-height: $nav-height;
    height: fit-content;
    // display: flex;
    // justify-content: center;
    // align-items: center;
}

/*********************************************/
/*          CUSTOMIZED CSS         */
/*********************************************/
* {
    margin: 0;
    padding: 0;
  }

  html, body {
    height: 100%;
}

i {
    width: fit-content;
    // color: red;
    font-size: 1.5em;
}

section {
    padding: 3em 2em 3em 2em;
    min-height: $section-height;
    height: fit-content;

}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em 2em 1em 2em;
    min-height: $footer-height;
    height: fit-content;
}

.paragraph-wrapper {
    // padding: 1em 8em;
    text-align: center;
}

.counter-value-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    padding : 1em 2em;
    background-color: $color-light;
    border-radius: 15px;
}

.flexbox {
    display: flex;
    justify-content: center;
    align-items: center;
}

.iconLink {
    height: 2.5em;
}


@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600&display=swap");